
*{
    text-align: center;
}

body{
    background-color: black;
    color: white;
}

.bn40 {
    border-radius: 4px;
    font-weight: 600;
    font-size: large;
    padding: 4px 6px;
    color: #fff !important;
  }
  
  .bn40::after {
    max-width: 100%;
    height: 2px;
    display: block;
    content: "";
    background: linear-gradient(-90deg, #ff9100 0%, hsl(120, 98%, 48%) 50%, #02573a 100%);
    opacity: 1;
    margin-bottom: -6px;
    margin-top: 1px;
  }
  
  .bn40div {
    display: flex;
  }

p{
    color: gray;
}
a{
    color:lightgreen;
}