
*{
    text-align: center;
}

#text{
  text-align:justify;
}
body{
    background-color: black;
    color: white;
}

/* to style the menu bar */
nav#menu-bar {
  background-color: #000000; /* Sets the background color */
  position: fixed;
  width: 100%;
}

nav#menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav#menu-bar li {
  float: left;
}

nav#menu-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav#menu-bar li a:hover {
  background-color: #477152;
}

/* to style the menu bar when it's fixed to the top */
nav#menu-bar.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
}

p{
    color: gray;
}
a{
    color:lightgreen;
}
.pic{
  width: 40%;
  height: 46%;
}
.logos{
  width: 40px;
  height: 40px;
}